
.navbar-light .navbar-nav .nav-link {
    /* color: rgba(0,0,0,.55); */
    color: black !important;
    /* font-size: 16px; */
    font-weight: bold;
    font-size: 13px;
    margin-left: 8px;
    margin-bottom: -15px;
    letter-spacing: 1px;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    margin-left: 63px;
    margin-top: -77px;
    padding-left: 33px;
    
}
.menubar {
    border-bottom: 2px solid #00000021;
   padding-top: 19px;
}

a.nav-link {
    margin-left: 21px;
   margin-bottom: -5px;
}
.logo, svg {
    vertical-align: middle;
    height: 50px;
    width: 50px;
    margin-left: 25px;
    
}

.mapicon {
    
    width: 122px;
    float: none;
    margin-left: 209px;
}
h5.Findstore {
    float: right;
    font-size: 13px;
    margin-right: 14px !important;
    padding: 2px;
    margin-top: 5px !important;
}
i.fa-solid.fa-location-dot.map {
    font-size: 24px;
    margin-left: 2px;
    padding: 5px;
}
.buttondiv {
    float: right;
    margin-top: -51px;
    padding: 20px;
    padding-right: 18px;
}
.rightbuttondiv {
    padding-right: 3px;
    margin-right: 7px;
    margin-top: 10px;
}
button.btn-drak {
    color: black;
    background-color: white;
    border-radius: 16px;
    width: 93px;
    height: 33px;
    margin-right: 31px;
    /* float: right; */
    font-size: 2px;
    font-weight: 700;
    padding-bottom: -3px;
    float: left;
    margin-top: -3px;
}
.white {
    border-radius: 16px;
    width: 93px;
    height: 33px;
    margin-right: 12px;
    font-size: 2px;
    font-weight: 700;
    padding-bottom: -3px;
    background-color: black;
    color: white;
    float: right;
    margin-top: -3px;
}
section.topbox {
    margin-top: 33px;
    margin-left: -10px;
}
.topboxleft {
    float: left;
    width: 0px !important;
}
img.topleftpic {
    width: 622px;
    height: 205px;
    float: left;
    margin: auto;
    /* margin-left: -10px; */
}
.topboxright {
    background-color: #1e3932;
    width: 622px !important;
    height: 205px;
    float: right;
    margin-right: -11px !important;
}
.tbtext {
    color: white;
    text-align: center;
    padding-top: 37px;
    font-size: 21px;
}

button.join_starbucks {
    /* height: 47px; */
    width: 195px;
    float: none;
    border-radius: 28px;
    text-align: center;
    /* background-color: white; */
    margin-left: 198px;
    margin-top: 22px;
    background-color: #1e3932;
    color: white;
    font-size: 13px;
    font-weight: 500;
    padding: 6px;
    border: 1px solid;
}
section.container-fluid.topboxsecound {
    float: left;
    margin-top: 37px;
}
.secondleft {
    
    float: left;
    background-color: #d4e9e2;
}
.planettext {
    text-align: center;
    color: #1e3932;
    font-size: 43px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 133px;
}
.planetpara {
    color: #1e3932;
    text-align: center;
    font-size: 22px;
    padding-top: 14px;
    font-weight: 400;
}
.planetdiv {
    width: 442px;
    margin-left: 69px;
}
.secondright {
    border: 1px solid #361e1e00;
    float: right;
    padding-left: 618px;
    height: 566px;
    margin-right: 2px;
    background-image: url(img/planetpositive.webp);
    background-size: cover;
    margin-top: -566px;
}

.secondleft {
    float: left;
    background-color: #d4e9e2;
    /* padding-left: 395px; */
    padding-bottom: 122px;
    width: 588px;
}
button.Learn {
    width: 94px;
    height: 33px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    margin-left: 241px !important;
    font-size: 13px;
    font-weight: 500;
    margin-top: 6px;
    background-color: #d4e9e2;
}

section.container-fluid.thirddiv {
    
    float: left;
    margin-top: 32px;
}

.leftpic {
    width: 589px;
}
.lefttextdown {
    background-color: #1e3932;
    margin-right: 4px;
    padding-bottom: 17px;
}
.iced {
    color: white;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
    /* padding-top: 28px; */
    font-size: 54px;
}
.icediv {
    width: 510px;
    margin-left: 35px;
    
}


p.icedpara {
    color: white;
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 6px;
}
.righttextdown
{
    background-color: #1e3932;
    margin-right: 4px;
    padding-bottom: 17px;
}
button.odernow {
    text-align: center;
    margin-left: 240px;
    width: 96px;
    height: 35px;
    border-radius: 19px;
    border: 1px solid white;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: #1e3932;
}
.Cheerfullyhead {
    color: white;
    font-size: 46px;
    font-weight: 800;
    letter-spacing: 4px;
    text-align: center;
    padding-top: 26px;
}
p.chiledpara {
    color: white;
    font-size: 19px;
    text-align: center;
    font-weight: 500;
    /* letter-spacing: 1px; */
    margin-top: 50px;
}
.vegi {
   
    width: 607px;
    height: 361px;
    background-image: url(img/Vegetarianpic.jpg);
    background-size: cover;
    justify-content: center;
    float: left;
}
.row {
    margin-bottom: 25px;
}
.leftvegi {
    background-color: #1e3932;
    margin-left: -8px;
    padding-bottom: 80px;
}
h1.Vegetarian {
    color: white;
    text-align: center;
    padding-top: 73px;
    font-size: 28px;
}

p.vegipara {
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 2;
}
.vegidiv {
    
    width: 402px;
    margin-left: 97px;
    padding-bottom: 25px;
    margin-top: 20px;
}

.goodday {
   
    width: 607px;
    height: 361px;
    background-color: #d4e9e2;
    background-size: cover;
    justify-content: center;
    float: left;
}
h2.gooddaytext {
    text-align: center;
    padding-bottom: 31px;
    padding-top: 80px;
    font-weight: 700;
}
h3.gooddaytwo {
    text-align: center;
    font-weight: 400;
    margin-bottom: 43px;
}
button.odernownew {
    text-align: center;
    margin-left: 240px;
    width: 96px;
    height: 35px;
    border-radius: 19px;
    border: 1px solid black;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: #d4e9e2;
}

.gooddayleft {
    margin-left: -8px;
    padding-bottom: 360px;
    background-image: url(img/137-77302.webp);
    background-size: cover;
}

.fidthleft{
     width: 607px;
    height: 361px;
    background-color: #d4e9e2;
    background-size: cover;
    justify-content: center;
    float: left;
   
}
.fidthright {
    background-color: #d4e9e2;
    margin-left: -8px;
    padding-bottom: 43px;
}
.earningheading {
    color: black;
    text-align: center;
    padding-top: 28px;
    font-size: 25px;
    margin-bottom: 13px;
}
p.earningpara {
    text-align: center;
    font-size: 22px;
}

.paradivlast {
   
    width: 513px;
    margin-left: 47px;
    /* margin-top: 14px; */
}
.carddiv {
    /* border: 1px solid red; */
    /* padding-left: 197px; */
    /* padding-bottom: 343px; */
    float: left;
    background-image: url(img/card.jpg);
    width: 605px;
    margin-top: 11px;
    height: 336px;
    background-size: cover;
}
.footerbottomrow {
    border-bottom: 1px solid black;
    padding-bottom: 21px;
}
p.bottompara {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    padding-top: 68px;
}
.bottomparatwo {
    text-align: center;
    /* padding-top: 96px; */
    margin-top: -24px;
    /* margin-bottom: 54px; */
    padding-top: 83px;
    font-weight: 500;
}
.col-sm-12.col-lg-2.col-md-2.colmenu {
    padding-left: 40px;
    margin-left: 10px;
}
h3.bottomheading {
    font-size: 16px;
    padding-top: 19px;
}
ul {
    text-align: start;
    padding: 0px;
    margin-left: -2px;
    padding-top: 5px;
    list-style: none;
}
li {
    /* padding-bottom: 19px; */
    margin-bottom: 4px;
    padding-top: 18px;
    font-size: 14px;
    /* padding: 6px; */
    margin-left: -27px;
    padding-left: -13px;
}
hr {
    width: 1136px;
    
    float: left;
    height: 2px !important;
}
ul.iconul {
    margin-left: 9px;
    float: left;
    margin-top: -36px;
}
li.footericons {
    float: left;
    padding: 23px;
    margin-left: -36px;
    padding-left: 28px;
    font-size: 31px;
    margin-top: -18px;
}
.instadiv {
    background-color: black;
    border-radius: 23px;
    width: 33px;
    height: 33px;
    margin-top: 7px;
}
i.fa-brands.fa-instagram {
    color: white;
    font-size: 20px;
    margin-left: 6px;
    position: absolute;
    margin-top: 6px;
    align-items: center;
    font-size: 24px;
}
i.fa-brands.fa-youtube {
    color: white;
    font-size: 19px;
    margin-left: 6px;
    position: absolute;
    margin-top: 7px;
}
i.fa-brands.fa-twitter {
    color: white;
    font-size: 20px;
    position: absolute;
    margin-top: 7px;
    margin-left: 7px;
}
.footerul {
    margin-left: -470px;
    float: left;
    padding-left: 36px;
}
.lidiv {
    border-left: 1p;
    border-right: 2px solid #000000c9;
    padding-right: 17px;
    height: 23px;
    position: absolute;
    margin-top: 19px;
    margin-left: -3px;
    /* font-size: 3px; */
}
h5 {
    font-size: 14px;
    margin-top: 3px;
}
li.footerli {
    float: left;
    margin-left: 148px;
    margin-right: -3px;
}
.Cookie {
    margin-left: -27px;
    margin-top: 19px;
}
p.copyright {
    float: left;
    margin-left: 24px;
    color: #00000082;
}






@media screen and (max-width: 600px)
{
    nav.navbar.navbar-expand-lg.navbar-light {
        float: right !important;
        margin-right: -281px !important;
    }
    button.navbar-toggler {
        font-size: 29px;
    }
    .mapicon {
        float: right;
        margin-top: -64px !important;
        margin-right: 73px !important;
    }
    .buttondiv {
        float: right;
        margin-right: -216px !important;
        margin-top: -78px !important;
    }
    button.btn-drak {
        margin-right: 11px !important;
    }
    .logo {
        width: 58px !important;
        height: 58px !important;
    }
    img.topleftpic {
        width: auto !important;
        margin-left: -4px !important;
        
    }
    .topboxright {
        float: left !important;
        /* width: 207%; */
        width: 702px !important;
        margin-left: 6px !important;
    }
    h2.tbtext {
        font-size: 34px;
    }
    .planetdiv {
        width: 442px;
        margin-left: 137px !important;
    }
    button.Learn {
        margin-left: 318px !important;
    }
   
    h2.tbtext {
        margin-top: 15px !important;
        margin-left: 26px !important;
        font-size: 28px;
    }
    button.join_starbucks {
        margin-left: 229px !important;
        height: 70px;
        font-size: 18px !;
        width: 244px !important;
        font-size: 19px;
    }
    .secondleft {
        width: 690px !important;
    }
    .secondright {
        border: 1px solid #361e1e00;
        float: right;
        padding-left: 700px !important;
        height: 566px !important;
        margin-right: -361px !important;
        background-image: url(img/planetpositive.webp);
        background-size: cover;
        margin-top: 0px !important;
    }
    li {
        
        width: 0px !important;
    }

}